{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

  {{ title_prefix }}
  {% if label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
      <div class="col">
          {{ content }}
          {% if winner %}
            <a href="{{ winner_pdf.field_file[0] ? file_url(winner_pdf.field_file[0].entity.fileuri) : '#' }}" {{ winner_pdf.field_file[0] ? 'target="_blank"' : 'onclick="return false"' }} class="btn {{ winner_pdf.field_file[0] ? '' : 'js-map' }}">
              <!-- B.Y. Edit this block on close -->
              <span class="span" style="font-size: 30px;">2019 Prize Completed</span>
            </a>
          {% else %}
            <a href="#" onclick="return false" class="btn js-map">
              <!-- B.Y. Edit this block on close -->
              <span class="span" style="font-size: 30px;">Applications closed</span>
              <!-- <span class="arrow"></span> -->
              <!-- <span class="span" style="font-size: 30px;">180 projects submitted</span> -->
            </a>
          {% endif %}
      </div>
  {% endblock %}
